.footer {
  background-color: var(--bg-color--1);
  padding: 5rem;
  padding-bottom: 8rem;
  color: var(--text-color--9);

  &__container {
    // : var(--width-body);
    padding: 0 20rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    align-items: flex-start;
  }
  &__title {
    font-size: var(--text-regular);
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    font-size: var(--text-small);
    padding: 0;
  }
  li {
    text-transform: capitalize;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
