:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial;

  //colors
  --bg-color--1: #212731; //header and footer bg color
  --bg-color--2: #1b88f4; //view btns bg color
  --bg-color--3: #f3f9ff; //rating bg color
  --bg-color--4: #ff7724; //best choice btns bg color
  --bg-color--5: #fff4ed; //main hosting hightligh bg color
  --bg-color--6: #fbfcfd; //page bg color

  --text-color--1: #2c384a; //main header text color
  --text-color--2: #4b5665; //main section text color
  --text-color--3: #d1d6da; //nav items color
  --text-color--4: #5c6874; //main  nav items color
  --text-color--5: #074786; //deals time limited color
  --text-color--6: #626e79; //deals title text  color
  --text-color--7: #9fa9b3; //deals price text  color
  --text-color--8: #ef4c5d; //deals offer text color
  --text-color--9: #b6bdc4; //footer text color
  --text-color--10: #ffb80f; //rating color
  --text-color--11: #727d87; //rating color

  --border-color: #e1e4e6; //border color
  --color-white: #fff; //footer text titles color

  //font weights
  --font-inter--regular: 400;
  --font-inter--bold: 700;

  //font sizes
  --heading--1: 4.8rem;
  --heading--2: 3.2rem;
  --text-medium: 2rem;
  --text-regular: 1.6rem;
  --text-normal: 1.5rem;
  --text-small: 1.4rem;
  --text-extra-small: 1.3rem;

  //widths

  --width-body: 105rem;

  //heights

  --height-header: 6.4rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--text-regular);
  font-weight: var(--font-inter--regular);
  background-color: var(--bg-color--6);
  color: var(--text-color--2);
}

.input-group {
  width: 80%;
  margin: auto;

  input {
    &::placeholder {
      font-size: var(--text-regular);
    }
  }
  button {
    width: 20%;
  }
}
